<?xml version="1.0"?>

<model>
  <name>Pitch Yaw Gimbal</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>len0rd</name>
    <email>len0rd@users.noreply.github.com</email>
  </author>

  <description>
    Two axis pitch-yaw gimbal that can be attached to the front of a vehicle
  </description>
</model>
